/* Her har vi styles til vores grundlæggende setup og mobil */
/* ------------------------------------------------------------- */
$purple: #8A0BDB;


* { /* Gælder alt på hele siden */
	box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body, html{
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
	margin: 0; /* Ingen ydre margen fra overskrifter */
	padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
	margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
	padding: 0; /* Ingen indre margen fra lister */
	list-style-position: inside; /* List punkter står på linje */
}

li {
	margin: 0; /* Ingen ydre margen fra listpunkter */
	border: none !important;
}

p {
	margin: 0; /* Ingen ydre margen fra paragraffer */
	padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
	display: block; /* Billeder er et element (laver linjeskift) */
	max-width: 100%; /* Bredde må maks fylde 100% */
	height: auto; /* Højden skal tilpasse sig */
}

.bg{
	background-image: url('Images/bridge-1660417_1920.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar-brand{
	font-size: 30px;
}

.col-12, .col-md-6 .col-lg-8{
	margin-top: 15%;
}

.text-center{
	border-width: 50px;
}

.border-style {
	border-width: 5px !important;
	border-color: #8A0BDB !important;
}

.btn-speciel {
	border: none !important;
	background-color: white !important;
	color: black !important;
}


.white-txt {
	color: white !important;
}

.black-txt {
	color: black !important;
}

.lilla-txt {
	color: $purple !important;
}

.txt_reg {
	font-size: medium;
}

.overlay-div{
	height:100%;
	width: 100%;
	position: absolute;
	background-blend-mode: soft-light;
	background-color: #9800f9;
	opacity:.5;
}